################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ARSPopoverDemo/obj/iPhoneSimulator/Debug
/.vs/ARSPopover.iOS/v16/Server/sqlite3
/ARSPopover.iOS/obj/Debug
/ARSPopover.iOS/obj
/ARSPopover.iOS/bin
/.vs/ARSPopover.iOS
/ARSPopoverDemo/obj
/ARSPopoverDemo/bin
