################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ARSPopoverDemo/obj/iPhoneSimulator/Debug
/.vs/ARSPopover.iOS/v16/Server/sqlite3
